h2 {
    text-align: center;
}
.card-img-top {
    max-width: 100%;
    length: 100px;
}
a-scene {
    height: 300px;
    width: 600px;
      }
.microphone {
    max-height:50%
}
button {
    background:#AD8B73
}
  .centered-img {
    display: block;
    margin: 0 auto;
    width: 1517px;
    height: 800px
  }
.card {
    background:#7A533A;
}
#myEmbeddedScene {
     width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

