h2 {
    text-align: center;
}
.card-img-top {
    max-width: 100%;
    length: 100px;
}
a-scene {
    height: 300px;
    width: 600px;
      }
.microphone {
    max-height:50%
}
button {
background: linear-gradient(#e66465, #9198e5);}
  .centered-img {
    display: block;
    margin: 0 auto;
    width: 1517px;
    height: 800px
  }
.card {
    background:#AD8B73
}


